:root {
  --brand-primary: #3d155f;
  --brand-secondary: #af3d70;

  --secondary-yellow: #fcbf1e;
  --secondary-blue: #40bad5;

  --primary-gray: #a7b4cc;
  --secondary-gray: #f4f4f4;

  --white: #ffffff;
  --black: #000000;

  --font-color-primary: #3c4257;
}
